/* Variables */

:root {
    --white: #ffffff;
    --black: #000000;
    --darkBlue: #253e51;
    --blue: #3571b8;
    --gray: #6d7a7b;
    --lightGray: #f4f4f4;
    --red: #db1f29;
    --green: #62b847;

    --innerColour: #3571b8; 
    
}