/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/* font-family: "Raleway", sans-serif;  */

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Roboto", sans-serif;
    font-family: "Raleway", sans-serif; */
    font-weight: 400;
}
h2 {
    font-weight: 200;
}
p {
    font-weight: 300;
    line-height: calc(1rem* 1.75);
}
.inner-h1 {
    background-color: var(--innerColour);
    padding: .75rem 1.25rem;
    border-radius: 3rem;
    width: fit-content;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .section-title .line {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    height: 2px;
    background-color: var(--black);
    width: 100%;
    opacity: 0.1;
  }
  
  .section-title .line.left {
    left: 0;
  }
  
  .section-title .line.right {
    right: 0;
  }
  
  .section-title h2 {
    background-color: #ffffff;
    padding: 0 1rem;
    font-weight: 400;
    font-size: 1.875rem;
    z-index: 1;
    position: relative;
  }
  a.btn-link:hover {
    color: var(--blue)!important;
  }

  .bg-innerColour {
    background-color: var(--innerColour)!important;
  }
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

.top-bar a {
    text-decoration: none;
    color: var(--black);
    font-size: .875rem;
}

.top-bar .top-item svg {
    width: 1.5rem;
}

/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.logo-mobile {
    padding-left: calc(var(--bs-gutter-x)* .5);
}
.nav-outer {
    background-color: var(--black);
}

.navbar-toggler {
    border: none;
}

#main-nav .active {
    /* background-color: var(--yellow); */
}

#main-nav a {
    /* text-transform: uppercase; */
    color: #ffffff;
    font-weight: 300;
    transition: all .3s;
}

#main-nav .nav-item:active a{
    /* color: var(--red); */
}

/* #main-nav .nav-item {
    border-bottom: 1px solid var(--light);
} */
/* #main-nav .nav-item.active {

    background-color: var(--light);
} */
#main-nav .btn {
    font-size: 18px;
}

#main-nav .active a {
     color: var(--black);
}

#main-nav .btn {
    font-size: 18px;
}

.nav-outer .container {
    padding: 0;
}


.navbar ul {
    padding: 0;
}

    .navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

        .navbar-nav .nav-item, .navbar ul li:first-child:not(.dropdown ul li) {
            padding: 1rem calc(var(--bs-gutter-x) * .5);
        }

        .navbar a {
            padding: 0;
            text-transform: uppercase;
        }
        .nav-contact-contain {
            padding: 0 calc(var(--bs-gutter-x) * .5);
        }



/* .top-bar {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
} */

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: #ffffff;
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

    #main-nav .logo-top {
        width: 15rem;
    }

/* Main nav dropdowns  */
#main-nav .nav-item:hover a:not(#main-nav .dropdown a){
    /* color: var(--yellow); */
}
#main-nav .nav-item:active a:not(#main-nav .dropdown a){
    /* color: var(--red); */
}
#main-nav .dropdown-menu {
    margin-top: .75rem;
}
.navbar-nav .nav-item, .navbar ul li:first-child:not #main-nav .dropdown ul li {
    padding: 1rem calc(var(--bs-gutter-x) * .5);
}

#main-nav .dropdown ul {
    background-color: var(--black);
    border: none;
    transition: all .3s;
}

#main-nav .dropdown a:active:not(#main-nav .dropdown ul li a:active) {
    color: #ffffff;
}
#main-nav .dropdown a:hover:not(#main-nav .dropdown ul li a:hover) {
    color: var(--lightGray);
}


#main-nav .dropdown-item:active {
    color: var(--orange);
    background-color: var(--black);
}
#main-nav .dropdown-item:hover {
    color: var(--yellow);
    background-color: var(--black);
}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
    /* transform-origin: 50% 50%; */
    vertical-align: -0.1em;
    margin-top: .2em;
}
#main-nav .dropdown-item {
    padding-top: .35rem;
}
#main-nav .dropdown-item:last-of-type {
    padding-bottom: .35rem;
}
#main-nav .nav-item.active.dropdown {
    background-color: var(--black);
}
#main-nav .nav-item.active.dropdown a {
    color: var(--yellow)!important;
}
#main-nav .nav-item.active ul li .dropdown-item {
    color: #ffffff!important;
}
#main-nav {
z-index: 9;
}

#main-nav .nav-item.active ul li a.dropdown-item.active {
    color:var(--yellow)!important;
    /* opacity: .68; */
    background-color: var(--black);
}

/* Companies sub menu dropdowns  */
.companies-sub-menu .dropdown ul {
    background-color: var(--lightGray);
    border: none;
    transition: all .3s;
}

/* .companies-sub-menu .dropdown a:active:not(#main-nav .dropdown ul li a:active) {
    color: #ffffff;
} */
.companies-sub-menu .dropdown a:hover:not(#companies-sub-menu .dropdown ul li a:hover) {
    color: var(--lightGray);
}

.companies-sub-menu .dropdown-item:hover {
    color: var(--yellow);
    background-color: var(--innerColour);
}


.companies-sub-menu .dropdown-item {
    padding-top: .35rem;
}
.companies-sub-menu .dropdown-item:last-of-type {
    padding-bottom: .35rem;
}
/* .companies-sub-menu .nav-item.active.dropdown {
    background-color: var(--black);
} */
/* .companies-sub-menu .nav-item.active.dropdown a {
    color: #ffffff!important;
} */
.companies-sub-menu .nav-item.active ul li .dropdown-item {
    color: var(--black);
}
.companies-sub-menu {
z-index: 9;
}

/* .companies-sub-menu .nav-item.active ul li a.dropdown-item.active {
    color:var(--yellow)!important;
    opacity: .68;
} */

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero .container-fluid {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    height: 100%;
}

.hero .svg-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero .hero2 {
    width: 75%;
    z-index: 99999;
    margin-bottom: -10%;
    margin-top: 10%;
}

.hero .hero3 {
    z-index: 999999;
    /* width: calc(220%); */
    width: calc((75%/34)*100);
}

/*--------------------------------------------------------------
# Our Companies
--------------------------------------------------------------*/

.our-companies .loop {
    width: 150vw;
    margin-right: -1rem;
}
.our-companies .loop:nth-of-type(1) {
    margin-top: 0;
}

.loops {
    width: 100%;
    overflow: hidden;
    align-items: center;
}

/*--------------------------------------------------------------
# Quote
--------------------------------------------------------------*/
.quote p {
    font-size: 2rem;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container-fluid {
    /* height: fit-content; */
    background-image: url('/img/bg-2_1.png');
    background-size: cover;
    background-position: top;
  background-repeat: no-repeat;
}
/* 
.about img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    height: 100%;
} */

.about-imgs {
    margin-bottom: -6rem;
}
.about-imgs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.latest-projects {
    margin-top: 5rem;
}

.latest-projects .card {
    border: none;
}

.latest-projects .card-img-top img {
    width: 100%;
    border-radius: 50%;
}

.latest-projects .card-title h3 {
    font-weight: 400;
    margin-bottom: 0;
    transition: all .5s ease;
}
.latest-projects p {
    transition: all .5s ease;
}
.latest-projects .card-title h3 {
    font-weight: 400;
    margin-bottom: 0;
    transition: all .5s ease;
}

.latest-projects .card-title .sub {
    color: var(--gray);
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.latest-projects a.btn-link {
    text-decoration: none;
    padding: 0;
    color: var(--gray);
    text-transform: uppercase;
}
a.btn-link {
    color: var(--gray);
    text-decoration:none;
}
 a.btn-link svg {
    width: 3rem;
    transition: all .5s ease;
}

.latest-projects .card-img-top {
    position: relative;
    display: inline-block;
}
.latest-projects .card-img-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    transition: all .3s;
    pointer-events: none;
    border-radius: 50%;
  }
  .latest-projects .card:hover .card-img-top::after {
    background-color: rgba(53, 113, 184, 0.5);
  }
.latest-projects .card:hover {
    cursor: pointer;
}
.latest-projects .card:hover a.btn-link svg, a.btn-link:hover svg {
    transform: translateX(.67rem);
}

.latest-projects .card:hover p, .latest-projects .card:hover h3 {
    color: var(--blue);
}
.latest-projects .card:hover a.btn-link {
    color: var(--blue);
}

.latest-projects .card:hover a.btn-link svg g, .latest-projects .card:hover a.btn-link svg polyline {
    fill: var(--blue)!important;
}

/*--------------------------------------------------------------
# Accreditations
--------------------------------------------------------------*/

.accreditations .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------
# Accreditations
--------------------------------------------------------------*/

.our-team, .about-us-inner  {
    background-color: var(--lightGray);
}

.our-team .section-title h2, .about-us-inner h2 {
    background-color: var(--lightGray);
}

.our-team p , .about-us-inner p {
    margin-bottom: 2rem;
}
.about-us-inner a.btn-link {
    color: var(--gray);
}

.testimonials  {
    background-color: var(--innerColour);
}

.testimonials .section-title h2 {
    background-color: var(--innerColour);
    color: #ffffff;
}

.testimonials p {
    margin-bottom: 2rem;
    color: #ffffff;
}

.testimonials .section-title .line {
    background-color: #ffffff;
    opacity: .67;
}

/*--------------------------------------------------------------
# Contact us image (homepage)
--------------------------------------------------------------*/

.contact-us-img {
    background-color: var(--lightGray);
}
.contact-us-img svg g path {
    transition: all .3s ease;
}
.contact-us-img svg:hover g path:nth-of-type(1), .contact-us-img svg:hover g path:nth-of-type(2), .contact-us-img svg:hover g path:nth-of-type(3), .contact-us-img svg:hover g path:nth-of-type(4)  {
    fill: var(--blue)!important;
}

/*--------------------------------------------------------------
# Hero inner
--------------------------------------------------------------*/

.hero-inner .svg-container {
    position: relative;
    padding-top: 3rem;
}
.hero-inner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31%;
    height: auto;
    font-weight: 300;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    z-index: 9999999;
    text-transform: uppercase;
}
.hero-inner .inner-h1 {
    position: absolute;
    top: 1.5rem;
}
.inner-h1 h1, .inner-h1 p {
    color: #ffffff;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1.125rem;
}

.cutout-white {
    background-color: #ffffff!important;
}
/*--------------------------------------------------------------
# Inner header and breadcrumbs
--------------------------------------------------------------*/
.inner-header {
    background-color: var(--lightGray)
}
.inner-header h1 {
    color: var(--innerColour);
    font-weight: 300;
}
.breadcrumb a {
    text-decoration: none;
    color: var(--black);
}
/*--------------------------------------------------------------
# Hero inner 2
--------------------------------------------------------------*/
.hero-inner-2 .hero-inner-2-text {
    background-color: var(--innerColour);
    border-radius: 46px;
    margin-top: 5rem;
    margin-bottom: -5rem;
    z-index: 9;
}
.hero-inner-2 .hero-inner-2-text h2 {
    color: #ffffff;
    font-weight: 200;
}
.hero-inner-2 .hero-inner-2-text p {
    color: #ffffff;
}
.hero-inner-2 .hero-inner-2-text p:nth-of-type(1) {
    font-weight: 600;
}
.hero-inner-2 .btn-link {
    color: #ffffff;
}
.hero-inner-2 .btn-link:hover {
    color: #ffffff!important;
    opacity: .6;
}
.hero-inner-2 .btn-link polyline, .hero-inner-2 .btn-link g, .hero-inner-2 .btn-link rect {
    fill: #ffffff!important
}
/*--------------------------------------------------------------
# Inner-services
--------------------------------------------------------------*/
.inner-services {
    padding-top: 5rem;
    background-color: var(--lightGray);
}
.inner-service .btn-link {
    text-transform: uppercase;
}
/*--------------------------------------------------------------
# Landing Cards
--------------------------------------------------------------*/
.service-cards .card {
    text-decoration: none;
    color: var(--black);
}

.service-cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    border-radius: 0;
    height: 100%!important;
    max-height: 100%;
    background-color: transparent;
}

.service-cards .card > *{
    transition: all .6s ease;
}

.card-img-container {
    background-color: var(--innerColour);
    border: 5px solid var(--innerColour);
    border-radius: 50%;
    padding: 4rem;
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: -4rem;
    z-index: 1;
    position: relative;

}
 .card-img-container img {
    max-width: 75%;
    
    height: 55%;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.service-cards .card .card-body {
    border: 6px solid var(--lightGray);
    width: 100%;
    padding: 5.5rem 3rem 3rem 3rem;
    background-color: #ffffff;
}
.service-cards .card .card-body h3 {
    font-weight: 300;
    font-size: 1.5rem;
}
.service-cards .card .card-body .card-btn {
    background-color: var(--lightGray);
    padding: .9rem 1.35rem;
}
.service-cards .card .card-body .card-btn p {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: 600;
}

.service-cards .card:hover .card-body, .service-cards .card.active .card-body{
    border-color: var(--innerColour);
}

.service-cards .card:hover h3, .service-cards .card.active h3{
    color: var(--innerColour)!important;
}
/*--------------------------------------------------------------
# Quote image
--------------------------------------------------------------*/
.quote-image .container-fluid {
    position: relative;
    height: 50vh;
}
.quote-image img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    height: 100%;
}
.quote-image .quote-text-bg {
    background-color: var(--innerColour);
    z-index: 1;
    width: 100%;
    height: 10rem;
    position: absolute;
   opacity: .65;
   z-index: -1;
}

.quote-image .quote-text p {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-style: italic;
}

.testimonials-inner-container {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}


.testimonials-inner-container .quotes {
    width: 3rem;
}
.testimonials-inner-container img {
    width: 85%;
    height: auto;
    object-fit: contain;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-cutout {
    background-color: var(--black);
   margin-top: -3rem;
   overflow: hidden;
   
}
.footer-cutout svg {
    margin-top: -5rem;
}
.footer-cutout.gray svg g {
    fill: var(--lightGray);
}
.footer-cutout.blue svg g {
    fill: var(--blue);
}
.footer-cutout.white svg g {
    fill: #ffffff;
}

.logo-footer svg g path {
    fill: #ffffff;
}
footer {
    background-color: var(--black);
    color: #ffffff;
    font-size: .875rem;
}

#footer .social-logos a:hover svg g rect {
    fill: var(--gray3)!important;
}


    footer a span {
        /* color: var(--yellow); */
    }

    footer .footer-title {
        /* color: var(--yellow); */
        font-weight: 400;
    }



    footer a {
        color: var(--gray3);
        font-size: .875rem;
        text-decoration: none;
        font-weight: 400;
    }

        footer a:hover {
            /* text-decoration: underline; */
            color: var(--yellow);
        }

            footer a:hover span {
                color: var(--yellow);
            }


.footer-title {
    font-size: 1rem;
    /*font-weight: 500;*/
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
    padding-left: 2.3rem;
    text-indent: -1.1rem;
}
footer .fa-angle-right path, footer .fa-angle-down path {
    fill: var(--yellow);
}
footer .fa-angle-right {
   height: 20px;
}
footer .fa-angle-down {
    width: 20px;
}
footer .fa-chevron-right {
    /*color: #ffffff;*/
    /*color: #ffffff;*/
    padding-right: 0.2rem;
}

.shfooter .collapse {
    display: inherit;
}

.shfooter i::before {
    color: var(--gray3);
}


.resize {
    text-align: center;
}

.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}

/* Social footer  */
footer .fa-brands {
    width: 7%;
}

footer .fab:before {
    font-size: 1.1rem;
}

.social-footer a:hover svg {
    /*color: var(--links); */
    animation: icons-rise 0.3s linear forwards;
}

#footer .social-logos svg {
   width: 30px;
   height: 30px;
   transition: all .3s;
}
#footer .social-logos svg g rect{
   
    transition: all .3s;
 }
#footer h4 {
    font-size: 1rem;
    margin-top: 2rem;
}
@keyframes icons-rise {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translate(2.5px, -2.5px);
    }
}

.social-footer a:hover {
    text-decoration: none;
}

    .social-footer a:hover span {
        text-decoration: underline;
    }

@keyframes arrow-right {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(3px);
    }
}

footer p, footer li {
    font-size: 1rem;
    font-weight: 400;
}


footer hr:not([size]) {
    height: 1px;
    color: var(--gray2);
    opacity: .4;
}

footer ul li {
    padding-left: 0;
    text-indent: 0;
    /* remove this if issue 616 617 */
    display: flex;
    align-items: center;
}
footer a {
    transition: all .3s ease-in;
}

footer .social-icons svg {
    width: 1.875rem;
}
footer .social-icons svg:hover g path:nth-of-type(1) {
    fill: var(--yellow)!important;
}
footer .social-icons svg:hover g path:nth-of-type(2), footer .social-icons svg:hover g path:nth-of-type(3) {
    fill: var(--black)!important;
}
footer .social-icons svg:hover g path {
    transition: all .3s ease-in;
}

footer .fa-chevron-right {
    display: none;
}

.footer-title {
    margin-bottom: 0;
}

.shfooter ul {
    margin-bottom: 0;
}

.shfooter .collapse {
    display: none;
}

    .shfooter .collapse.show {
        display: block;
    }

.shfooter .title .fa-angle-down,
.shfooter .title[aria-expanded=true] .fa-angle-right {
    display: none;
}

.shfooter .title[aria-expanded=true] .fa-angle-down {
    display: block;
}

.shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
}