/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
 .top-bar a {
    font-size: 1rem;
 }   
 .hero .hero2 {
    margin-bottom: -7%;
    width: 50%;
}

.hero .hero3 {
    width: calc((50%/34)*100);
}
.section-title h2 {
    font-size: 2.5rem;
}
.loops a {
    display: flex;
    justify-content: center;
    width: 35%;
}
.our-companies {
    overflow: hidden;
}
.our-companies .loops-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-companies .loops {
    position: relative;
    width: 110vw;
}
.our-companies .loop {
    /* width: 33%; */
    margin-right: 0;
}

/* Footer  */
.footer-cutout svg {
    margin-top: -10rem;
}
.shfooter .collapse {
    display: none;
}

}