/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .top-bar .container {
        padding-right: calc(var(--bs-gutter-x)* .5)!important;
    }

    .hero .hero2 {
        margin-bottom: -7%;
        width: 50%;
    }
    
    .hero .hero3 {
        width: calc((50%/34)*100);
    }

    .quote p {
        font-size: 2rem;
    }

    .footer-cutout svg {
        margin-top: -10rem;
        width: 60%;
    }

    .hero-inner p {
        top: 47%;
        font-size: 1.75rem;
        line-height: 2.25rem;
        width: 29%;
    }

    .hero .hero2 {
        margin-top: 4rem;
    }
    
    


}