/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {

    section.hero.hero-inner {
        margin-top: -.2rem;
    }

    .styled-line {
        display: block;
        border-top: 4px solid;
        width: 160px;
        margin: 20px 0;
        border-color: var(--gray);
    }

    .section-title h2 {
        font-size: 3rem;
    }
    /* #main-nav .nav-div {
        width: 2px;
        height: 1rem;
        background-color: var(--yellow);
    } */
    .logo-top {
        width: 200px;
    }
    #main-nav .active a {
        color: var(--yellow);
   }
   #main-nav .active {
    background-color: var(--black);
}

.dropdown:hover .dropdown-menu {
    display: block;
}
#main-nav .dropdown-toggle {
    pointer-events: none;
}
.dropdown-menu {
    margin-top: 0;
    transition: all 0.3s ease;
}
#main-nav .dropdown-menu {
    margin-top: 0;
}
#main-nav .nav-item.dropdown:hover a:not(#main-nav .nav-item.dropdown:hover ul li a) {
    color: #ffffff;
}
#main-nav .nav-item.dropdown ul li a {
    color: #ffffff;
}
#main-nav .nav-item:hover a{
    opacity: .98;
}
#main-nav .nav-item.dropdown ul li a:hover {
    color: var(--yellow);
    background-color: transparent!important;
}
#main-nav .dropdown.active {
    color: var(--yellow);
}
#main-nav .dropdown.active ul li a:hover {
    color: var(--yellow)!important;
    background-color: transparent!important;
}
#main-nav .dropdown ul {
    background-color: var(--black);
    padding: .5rem .125rem;
}
#main-nav .dropdown-item {
    padding: .2rem!important;
}
/* #main-nav .dropdown-toggle::after {
    vertical-align: 0;
} */
#main-nav .dropdown:hover .dropdown-toggle::after {
    transform: rotate(-180deg);
     transform-origin: 50% 50%;
    /* vertical-align: -0.1em;
    margin-top: .1em;  */

}
.companies-sub-menu {
    background-color: var(--teal);
}
.companies-sub-menu a.home-sub {
    font-size: .875rem;
    text-decoration: none;
    color: #ffffff;
}
.companies-sub-menu .nav-link {
    padding: .5rem 1rem;
    font-size: .875rem;
    color: #ffffff;
}
.companies-sub-menu .nav-item.active {
    background-color: var(--innerColour);
}
.companies-sub-menu .nav-item:not(.companies-sub-menu .nav-item.active):hover .nav-link {
    color: var(--yellow);
}

.companies-sub-menu .nav-link:last-of-type {
    /* padding-right: 0; */
}
.hero .hero2 {
    width: 35%;
    margin-bottom: -5%;
}

.hero .hero3 {
    width: calc((35%/34)*100);
}
.hero-inner p {
    top: 47%;
    font-size: 1.75rem;
    line-height: 2.25rem;
    width: 20%;
}
.hero-inner .svg-container {
    padding-top: 0;
}
.hero-inner .inner-h1 {
    
    top: calc(-5vh + 50%);
    right: 3rem;
    transform: translateY(-50%);
}
.hero-inner .inner-h1 h1 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    letter-spacing: .2rem;
}
.loops {
    /* margin-top: 3rem; */
}
.loops a {
   
    width: 33%;
}
.our-companies .loops {
    position: relative;
    width: 75vw;
}


.service-cards .card h3 {
    transition: all .3s ease;
}
.service-cards .card .card-body {
    transition: all .6s ease;
}

.service-cards .card:hover .card-btn, .service-cards .card.active .card-btn {
    visibility: hidden;
}
.service-cards .card:hover h3, .service-cards .card.active h3 {
    color: #ffffff;
}

.service-cards .card .card-body h3 {
    font-size: 1.25rem;
}

.service-cards .card .card-body {
    border: 6px solid var(--lightGray);
    width: 100%;
    padding: 5rem 4rem 2rem 4rem;
    background-color: #ffffff;
}

.quote-image .container-fluid {
    height: 50vh;
}

.quote-image .quote-text p {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 1.75rem;
    font-style: italic;
}


.footer-cutout svg {
    margin-top: -15rem;
    width: 55%;
}
/* Footer - XLarge Devices */
footer, footer a {
    font-size: 1.125rem;
}
.shfooter .collapse {
    display: block;
    }
    footer .fa-chevron-right {
    display: inline-block;
    }
    footer ul li {
    margin-bottom: 10px;
    
    }
    footer ul li span {
        display: inline-block;
    }
    footer ul li a:hover span {
        animation: arrow-right 0.3s linear forwards; 
              
          }
      
      @keyframes arrow-right {
        from {
          transform: translateX(0px); }
        to {
          transform: translateX(2px); } 
          
      }
    
      #footer .footer-title {
        font-size: 1.5rem;
      }
      .footer-logo-desktop {
        margin-top: -1rem;
      }

}
        