/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4 {
    font-weight: 600;
}
.allan-regular {
    font-family: "Allan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .allan-bold {
    font-family: "Allan", serif;
    font-weight: 700;
    font-style: normal;
  }
  .btn.btn-gold {
    background-color: var(--gold);
    border-radius: 0;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1em;
    text-transform: uppercase;
  }
  .v-hidden {
    visibility: hidden;
  }
  /* *:hover {
    cursor: pointer!important;
  } */

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-bar {
    background-color: #ffffff;
    border-bottom: 2px solid var(--navy);
}
.top-bar .social-logos a {
    text-decoration: none;
}
.top-bar .social-logos a:hover svg path, .top-bar .social-logos a:hover svg polyline {
    fill: var(--navy)!important;
}
.top-bar .social-logos svg {
    height: 24px;
}
#search input {
    border-radius: 0;
    border-color: var(--lightGray);
    background-color: var(--lightGray);
}
#search input::placeholder {
    color: var(--navy);
}
.search-btn {
    background-color: var(--navy);
    border-radius: 0;
    padding: .28em .47em .47em .47em;
    transition: .3s all;
}
.search-btn:hover {
    background-color: var(--goldDarker);
}
.search-btn svg {
    display: inline-block;
}
.search-btn svg:nth-of-type(2) {
    display: none;
}
.search-btn:hover svg:nth-of-type(1) {
    display: none;
}
.search-btn:hover svg:nth-of-type(2) {
    display: inline-block;
 
}
/* Mobile Top Bar  */
.navbar .top-bar {
    background-color: var(--navy);
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.nav-outer {
    background-color: var(--navy);
}

.navbar-toggler {
    border: none;
}

#main-nav .active a {
    color: #ffffff;
}

#main-nav a {
    /* text-transform: uppercase; */
    color: #ffffff;
    font-weight: 300;
    transition: all .3s;
}
#main-nav a:hover {
    color: var(--orange);
}

#main-nav .nav-item {
    /* border-bottom: 1px solid #132a441a; */
}
#main-nav .nav-item.active a {
    border-left: 2px solid var(--cyan);
    padding-left: 1em;
}
#main-nav .btn {
    font-size: 18px;
}

#main-nav .active .nav-link {
     color: var(--orange);
     font-weight: 600;
}

#main-nav .btn {
    font-size: 18px;
}

.nav-outer .container {
    padding: 0;
}

.navbar ul {
    padding: 0;
}

    .navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

        .navbar-nav .nav-item, .navbar ul li:first-child {
            padding: 1rem calc(var(--bs-gutter-x) * .5);
        }

        .navbar a {
            padding: 0;
        }

.nav-contact a, .nav-contact p {
    color: #ffffff;
    text-decoration: none;

}

/* .top-bar {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
} */

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: #ffffff;
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }


    /* Search toggle  */
    .mobile-search-btn {
        position: relative;
    }
    .mobile-search-btn svg {
        position: absolute;
        opacity: 1;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .mobile-search-btn .icon {
        opacity: 0;
        cursor: pointer;
        height: 20px;
        margin: 0px;
        position: relative;
        width: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        
    }
    .mobile-search-btn .icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        
     
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background: #ffffff;
    }

    .mobile-search-btn .icon span:nth-child(1) {
        
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: calc(50% + 3px);
        /* left: calc(50% + 5px); */
    }
   
    .mobile-search-btn .icon span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: calc(50% + 3px);
        /* left: calc(50% + 5px); */
    }



    .mobile-search-btn .icon.open {
        opacity: 1;
    }

    .mobile-search-btn svg.open {
        opacity: 0;
    }
    /* .mobile-search-btn svg {
        opacity: 1;
    } */

.forge-logo-mob, .forge-logo {
    border-radius: 50%;
    /* height: 55px; */
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs .container-fluid {
    background-color: var(--gold);
}
.breadcrumb-item a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}
.breadcrumb-item.active {
    font-weight: 500;
    color: #ffffff;
}


    

/*--------------------------------------------------------------
# Hero - Homepage
--------------------------------------------------------------*/
@media(max-width: 991px) {
    .hero .container {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -4px;
}
.hero .row {
    position: relative;
}
.hero-text-container {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 100%;
    background-color: var(--bs-orange);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.hero-text {
    width: 95%;
    margin-left: auto;
  
}

.hero-text h1 {
    color: #ffffff;
    font-size: 1rem;
}

/*--------------------------------------------------------------
# Guide - Homepage
--------------------------------------------------------------*/
.guide .container-fluid {
    background-color: var(--gold);
}
.guide h2 {
    font-size: 2.6rem;
}
.guide h2 span {
    color: #ffffff;
}
.guide .card {
    background-color: transparent;
    border: none;
}
.guide svg {
    max-height: 135px;
}

/*--------------------------------------------------------------
# Our Doors - Homepage
--------------------------------------------------------------*/
.our-doors .container-fluid {
    background-color: var(--navy);
}
.our-doors h2 {
    color: var(--gold);
    font-size: 2.6rem;
}
.our-doors h2 span {
    color: #ffffff;
}
.our-doors .card {
    background-color: transparent;
    border-radius: 14px;
    transition: all .3s;
}
.our-doors h3 {
    text-transform: uppercase;
}
.our-doors h3 span, .our-doors p span {
    color: var(--gold);
}
.our-doors a {
    color: #ffffff;
    text-decoration: none;
}
.our-doors svg {
    max-height: 155px;
    max-width: 80%;
    object-fit: cover;
}
.our-doors a {
    border: 1px solid #B6AC943a;
}
.our-doors .card:hover {
    background-color: var(--gold);
    cursor: pointer;
}

.our-doors .card:hover svg g polyline, .our-doors .card:hover svg g path, .our-doors .card:hover svg g rect, .our-doors .card:hover svg g polygon {
    fill: var(--navy)!important;
}

.our-doors .card:hover h3, .our-doors .card:hover h3 span, .our-doors .card:hover p, .our-doors .card:hover p span {
    color: var(--navy);
}

/*--------------------------------------------------------------
# About Us homepage
--------------------------------------------------------------*/
.about-us h2 {
    font-size: 2.6rem;
    font-weight: 600;
}
.about-us h2 span {
    color: var(--gold);
}
.about-us .card {
    background-color: var(--navy);
    border-radius: 14px;
}
.about-us .card svg {
    height: 100px;
}
.about-us .card h3 {
    font-size: 1.5rem;
}
.about-us .card h3, .about-us .card p {
    color: #ffffff;
    text-transform: uppercase;
}
.about-us .card p span {
    color: var(--gold);
}
.about-us a.card {
    text-decoration: none;
    transition: all 0.3s;
}

.about-us .card:hover {
    background-color: var(--gold);
    cursor: pointer;
}

.about-us .card:hover h3, .about-us .card:hover p, .about-us .card:hover p span {
    color: var(--navy);
}

.about-us .card:hover svg, .about-us .card:hover svg g path, .about-us .card:hover svg g rect, .about-us .card:hover svg g polygon {
    fill: var(--navy)!important;
}
/*--------------------------------------------------------------
# Testimonials - Homepage
--------------------------------------------------------------*/
@media(max-width: 991px) {
    .testimonials .container {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }
}
.testimonials .container-fluid {
    background-color: var(--gold);
}
.testimonials img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials-text-container {
    background-color: var(--navy);
    height: 100%;
}
.testimonials-text {
    border: 10px solid var(--gold)
}
.testimonials-text p {
    color: #ffffff;
    font-size: 1.25rem;
}
.testimonials-text .text-footer {
    color: var(--gold);
    text-transform: uppercase;
    font-size: 1rem;
}
.testimonials-text span {
    color: #ffffff;
}
.testimonials h2 {
    font-size: 2.6rem;
}
.testimonials h2 span {
    color: #ffffff;
}

/*--------------------------------------------------------------
# Inner Header
--------------------------------------------------------------*/
.inner-header .container {
    background-color: var(--navy);
    margin-bottom: 6em;
}
.inner-header h1 span , .inner-header p {
    color: #ffffff;
}
.inner-header h1 {
    color: var(--gold);
    font-size: 2.6rem;
}

.inner-header img {
    border: 10px solid var(--gold);
    width: 100%;
    margin-bottom: -5em;
}
.inner-header p:last-of-type {
    margin-bottom: 0;
}

/* Landing Cards  */
.doors-landing-cards .sub-title {
    color: var(--gold);
    font-size: 1.75rem;
    margin-bottom: 0;
}
.doors-landing-cards .card {
    background-color: var(--offWhite);
    transition: all .3s;
}
.doors-landing-cards .card-header, .doors-landing-cards .card-footer, .doors-landing-cards .card-body {
    background-color: transparent;
}
.doors-landing-cards .card, .doors-landing-cards .card-header, .doors-landing-cards .card-footer {
    border: none;
    border-radius: 0;
}
.doors-landing-cards img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}
.doors-landing-cards h2 {
    font-size: 2.5rem;
    font-weight: 500;
}
.doors-landing-cards a {
    text-decoration: none;
    color: var(--navy);
}
.doors-landing-cards .row .col-md-6.col-lg-4:last-child .sub-title {
    visibility: hidden;
}
.doors-landing-cards a:hover, .doors-landing-cards .card:hover {
    background-color: var(--navy);
    cursor: pointer;
}
.doors-landing-cards a:hover h2, .doors-landing-cards a:hover .sub-title {
    color: var(--gold);
}
.doors-landing-cards .card-body {
    background-color: #ffffff;
}
.doors-landing-cards a:hover img {
    opacity: .75;
}

/* Child landing cards  */
@media(max-width: 991px)  {
    .doors-child-landing-cards .card .card-body h2, .doors-child-landing-cards .card .card-body h3 {
        font-size: 2rem;
    }
}
.doors-child-landing-cards .card {
    background-color: var(--offWhite);
    border-radius: 0;
    transition: all .3s;
}
.doors-child-landing-cards .card .card-footer {
    background-color: var(--offWhiteDark);
    transition: all .3s;
}
.doors-child-landing-cards .card, .doors-child-landing-cards .card .card-body, .doors-child-landing-cards .card .card-header, .doors-child-landing-cards .card .card-footer {
    border: none;
    border-radius: 0;
}
.doors-child-landing-cards .card .card-body h2 {
    font-weight: 500;
}
.doors-child-landing-cards .card .card-body h2, .doors-child-landing-cards .card .card-body h3 {
    color: var(--navy);
} 
.doors-child-landing-cards .card .card-body h3 {
    text-transform: uppercase;
    font-weight: 700;
}
.doors-child-landing-cards .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 3rem;
}
.doors-child-landing-cards .card .card-body .sub-title {
    color: var(--gold);
}

.doors-child-landing-cards a {
    color: var(--navy);
    text-decoration: none;
}

.doors-child-landing-cards .card .card-footer p span {
    color: var(--goldDarker);
}

.doors-child-landing-cards .card .card-footer p {
    font-size: 1rem;
}
.doors-child-landing-cards a.card:hover, .doors-child-landing-cards .card-header:hover, .doors-child-landing-cards .card-footer:hover, .doors-child-landing-cards .card-body:hover {
    cursor: pointer;
}
.doors-child-landing-cards .card-header {
    background-color: #ffffff;
}
.doors-child-landing-cards a:hover, .doors-child-landing-cards a:hover .card-footer {
    background-color: var(--navy);
}
.doors-child-landing-cards a.card:hover h2, .doors-child-landing-cards a.card:hover h3, .doors-child-landing-cards a.card:hover p {
    color: var(--gold);
}
.doors-child-landing-cards a.card:hover img {
    opacity: .75;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.paging .page-number .btn-pager {
    background-color: var(--navy);
    border-radius: 0;
}
.paging .page-number .btn-pager {
    color: var(--gold);
    border: 2px solid var(--navy);
}
.paging .page-number .btn-pager.active {
    color: #ffffff;
}
.paging .page-number .btn-pager:hover:not(.paging .page-number .btn-pager.active) {
    background-color: var(--gold);
    color: var(--navy);
    cursor: pointer;
}
/*--------------------------------------------------------------
# Door 
--------------------------------------------------------------*/
.door-info .door-heading {
    background-color: var(--offWhite);
}

.door-info .door-img img {
    width: auto;
    height: 500px;
    object-fit: cover;
}
.door-contact {
    overflow: hidden;
}
.door-contact .container {
    background-color: var(--offWhite);
}
.door-contact .card {
    background-color: var(--navy);
}
.door-contact .card svg {
    height: 83px;
}
.door-contact .card .card-body h3 {
    color: var(--gold);
}
.door-contact .card p {
    color: #ffffff;
    font-size: 1.75rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    font-size: 1rem;
}

#footer .social-logos a:hover svg g rect {
    fill: var(--navy)!important;
}

footer#footer {
    border-top: 2px solid var(--gold);
}
    footer a span {
        color: var(--cyan);
    }

    footer .footer-title {
        font-weight: 600;
    }



    footer a {
        color: var(--navy);
        font-size: .875rem;
        text-decoration: none;
        font-weight: 400;
    }

        footer a:hover {
            /* text-decoration: underline; */
            color: var(--goldDarker);
        }

            footer a:hover span {
                color: var(--goldDarker);
            }


.footer-title {
    font-size: 1rem;
    /*font-weight: 500;*/
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
    padding-left: 2.3rem;
    text-indent: -1.1rem;
}
footer .fa-angle-right {
   height: 20px;
}
footer .fa-angle-down {
    width: 20px;
}
footer .fa-chevron-right {
    /*color: #ffffff;*/
    /*color: #ffffff;*/
    padding-right: 0.2rem;
}

.shfooter .collapse {
    display: inherit;
}

.shfooter i::before {
    color: var(--light);
}


.resize {
    text-align: center;
}

.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}

/* Social footer  */
footer .fa-brands {
    width: 7%;
}

footer .fab:before {
    font-size: 1.1rem;
}

.social-footer a:hover svg {
    /*color: var(--links); */
    animation: icons-rise 0.3s linear forwards;
}

#footer .social-logos svg {
   width: 30px;
   height: 30px;
   transition: all .3s;
}
#footer .social-logos svg g rect{
   
    transition: all .3s;
 }
#footer h4 {
    font-size: 1rem;
    margin-top: 2rem;
}
@keyframes icons-rise {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translate(2.5px, -2.5px);
    }
}

.social-footer a:hover {
    text-decoration: none;
}

    .social-footer a:hover span {
        text-decoration: underline;
    }

@keyframes arrow-right {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(3px);
    }
}



footer hr:not([size]) {
    height: 1px;
    color: var(--hcs-blue);
    opacity: .8;
}

footer ul li {
    padding-left: 0;
    text-indent: 0;
    /* remove this if issue 616 617 */
    display: flex;
    align-items: center;
}

footer .fa-chevron-right {
    display: none;
}

.footer-title {
    margin-bottom: 0;
}

.shfooter ul {
    margin-bottom: 0;
}

.shfooter .collapse {
    display: none;
}

    .shfooter .collapse.show {
        display: block;
    }

.shfooter .title .fa-angle-down,
.shfooter .title[aria-expanded=true] .fa-angle-right {
    display: none;
}

.shfooter .title[aria-expanded=true] .fa-angle-down {
    display: block;
}

.shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
}

.sub-footer {
    background-color: var(--navy);
    color: var(--gold);
}
