/* Large devices (large tablets, 992px and up) */

@media (min-width: 992px) {



.hero img {
    /* height: 465px;
    width: 534px; */
}

.hero-text h1, .inner-header h1 {
    /* color: var(--gold); */
    /* font-size: 3.15rem; */
}

.guide h2, .our-doors h2, .about-us h2 {
    font-size: 2.1rem;
}
.testimonials h2 {
    font-size: 3rem;}
.about-us .card h3 {
    font-size: 1.5rem;
}

.testimonials-text p {
    font-size: 1.35rem;
}

.inner-header .container {
    margin-bottom: 5em;

}
.inner-header img {
    margin-bottom: -6em;
}

.doors-landing-cards .card h2 {
    font-size: 2rem;
}
.doors-landing-cards .card .card-header {
    min-height: 120px;
}

/* Door  */
.door-info .container {
    border-top: 5px solid var(--offWhite);
    border-left: 5px solid var(--offWhite);
    border-right: 5px solid var(--offWhite);
}
.door-info .door-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* .door-text {
    border-left: 5px solid var(--gold);
    border-right: 5px solid var(--gold);
} */

/* Footer - Large Devices */

.shfooter .collapse {
display: block;
}
footer .fa-chevron-right {
display: inline-block;
}
footer ul li {
margin-bottom: 10px;

}
footer ul li span {
    display: inline-block;
}
footer ul li a:hover span {
    animation: arrow-right 0.3s linear forwards; 
          
      }
  
  @keyframes arrow-right {
    from {
      transform: translateX(0px); }
    to {
      transform: translateX(2px); } 
      
  }

  #footer .footer-title {
    font-size: 1.5rem;
  }
  


}